* {
    --bg-color: #283C63;
    --text-color1: #FBE8D3;
    --btn-color: #FF7069;
    --paragraghs: #928A97;
    --font-size-1: 18px;
    --font-size-2: 96px;
    --font-size-3: 24;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: 'Work Sans', sans-serif;

    .navbar {
        margin: 3rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .navsec1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .navimg {
                font-size: var(--font-size-3);

                img {
                    padding-right: 9rem;
                }
            }

            .navlinks {
                display: flex;
                flex-direction: row;
                text-align: center;

                a {
                    text-decoration: none;
                    font-size: var(--font-size-1);
                    color: var(--text-color1);
                    padding-left: 3rem;
                }

            }
        }

        .contact {
            a {
                text-align: center;
                text-decoration: none;
                color: var(--text-color1);
            }
        }
    }

    .Button {
        display: flex;
        padding: 1.1rem 3rem;
        width: 4rem;
        height: 1rem;
        background: var(--btn-color);
        align-items: center;
        text-align: center;
        border-bottom-right-radius: .91rem;
        border-top-left-radius: .91rem;
        color: var(--text-color1);
        
    }
    .homepage{
        margin: 0rem  0 0;
        height: 100vh;
        background: url(./Components/images/Line\ 2.png),url(./Components/images/vr\ 1.png),url(./Components/images/Line\ 1.png);
        background-repeat: no-repeat,
                           no-repeat,
                           no-repeat;
        background-size: 80%,
                         contain,
                         100%;
        background-position:right -80px bottom -210px,
                            right 80px bottom -100px,
                            right 0 bottom -100px;


        .textarea{
            h3{
                font-size: var(--font-size-2);
                font-weight: 700;
                margin: 0 20rem 1rem 6rem;
                color: var(--text-color1);
                span{
                    color: var(--btn-color);
                }
            }
            p{
                color: var(--paragraghs);
                padding: 0 54rem 0 7rem;
            }
        }
        .btn{
            margin: 3rem 6.5rem;
        }
    }
}