* {
    --bg-color: #283C63;
    --text-color1: #FBE8D3;
    --btn-color: #FF7069;
    --paragraghs: #928A97;
    --font-size-1: 18px;
    --font-size-2: 96px;
    --font-size-3: 24;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: 'Work Sans', sans-serif;

    .navbar {
        margin: 3rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .navsec1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


            .navimg {
                font-size: var(--font-size-3);

                img {
                    padding-right: 9rem;
                }
            }

            .navlinks {
                display: flex;
                flex-direction: row;
                text-align: center;

                a {
                    text-decoration: none;
                    font-size: var(--font-size-1);
                    color: var(--text-color1);
                    padding-left: 3rem;
                }

            }
        }

        .contact {
            a {
                text-align: center;
                text-decoration: none;
                color: var(--text-color1);
            }
        }
    }

    .Button {
        display: flex;
        padding: 1.1rem 3rem;
        width: 4rem;
        height: 1rem;
        background: var(--btn-color);
        align-items: center;
        text-align: center;
        border-bottom-right-radius: .91rem;
        border-top-left-radius: .91rem;
        color: var(--text-color1);

    }

    .homepage {
        margin: 0rem 0 0;
        height: 100vh;
        background: url(./Components/images/Line2.png), url(./Components/images/vr\ 1.png), url(./Components/images/Line1.png);
        background-repeat: no-repeat,
            no-repeat,
            no-repeat;
        background-size: 80%,
            contain,
            100%;
        background-position: right -80px bottom -210px,
            right 80px bottom -100px,
            right 0 bottom -100px;


        .textarea {
            h3 {
                font-size: var(--font-size-2);
                font-weight: 700;
                margin: 0 20rem 1rem 6rem;
                color: var(--text-color1);

                span {
                    color: var(--btn-color);
                }
            }

            p {
                color: var(--paragraghs);
                padding: 0 54rem 0 7rem;
            }
        }

        .btn {
            margin: 3rem 6.5rem;
        }
    }

    .team {
        h1 {
            margin: 3rem 6rem;
            color: var(--text-color1);
            font-size: 72px;
        }
    }

    .testimonial {
        background: url(./Components/images/Line1.png), url(./Components/images/Line2.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right 0 bottom -15px;
        margin-bottom: 0;
        max-height: 190vh;

    }

    .layers {
        margin: 3rem 6rem 0;

        .texts {
            .toplay {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-size: 4.5rem;
                    color: #FBE8D3;
                    padding-right: 7rem;

                    span {
                        color: #FF7069;
                    }
                }

                p {
                    padding-right: 3rem;
                    font-size: 26px;
                    color: #928A97;
                }
            }

            .bottomlay{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                flex-basis: 100%;
                justify-content: space-between;
                padding-right: 4rem;
                padding-bottom: 3rem;
                align-items: center;
                h4{
                    color: #FF7069;
                    font-size: 24px;
                }
                p{
                    color: #928A97;
                    font-size: 18px;
                }
                .address{
                    width: 25%;
                }
                .phone{
                    width: 25%;
                }
                .socials{
                    width: 50%;
                    
                    .linksit{
                       display: flex;
                       flex-direction: row;
                       justify-content: space-between;
                       padding: 0;
                       .top,
                       .mid,
                       .bott{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                            a{
                                padding: .5rem 0;
                                text-decoration: none;
                                color: #928A97;
                                font-size: 18px;
                            }
                       }
                    }
                }
            }
        }
    }
}